name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate pacman graph
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: mdln0411
          outputs: |
            output/pacman-contribution-graph.svg
            output/pacman-contribution-graph-dark.svg

      - name: Push to repository
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate pacman graph"